@page "/counter"

<h1>Counter</h1>
<p>Increment counter: @_counterCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Increment</button>

@code {
	private int _counterCount = 0;

	private void IncrementCount()
	{
		_counterCount++;
	}
}
